<h1>New timesheet entry</h1>

<p>Please enter this weeks timesheet details.</p>


<form action="/my-handling-form-page" method="post">
    

    
    <div>
        <label for="name">Start date:</label> <br>
        <input type="text" id="name" name="user_name">
    </div>
    <div>
        <label for="mail">End date:</label><br>
        <input type="email" id="mail" name="user_mail">
    </div>
    <div>
        <label for="msg">Work Description:</label> <br>
        <textarea id="msg" name="user_message"></textarea>
    </div>
    <br>
  
    
    <p><input type="submit" value="Save"> </p>
</form>
<div class="genericTable">
	
	<div class="row">
	  <div class="col-sm-3">Work Description</div>
	  <div class="col-sm-1">Start Date</div>
	  <div class="col-sm-1">End Date</div>
	  <div class="col-sm-1">Hours</div>
	 
	  <div class="col-sm-1">Actions</div>
	</div>
	<br>
	
	<div class="row">
	  <div class="col-sm-3">Concreting Effluent Area</div>
	  <div class="col-sm-1">21 July</div>
	  <div class="col-sm-1">21 July</div>
	  <div class="col-sm-1">8</div>
	  <div class="col-sm-1">
	  	<i class="fa fa-bars" aria-hidden="true" class="dropdown-toggle" data-toggle="dropdown"></i>
	  	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
			  <li><a tabindex="-1" href="#">Approve</a></li>
			  <li><a tabindex="-1" href="#">Delete</a></li>
			  <li><a tabindex="-1" href="#">Edit</a></li>
			
			  
			
		</ul>
			  
	  </div>
	</div>
	<br>
	
	<div class="row">
	  <div class="col-sm-3">General Site Clean Up</div>
	  <div class="col-sm-1">22 July</div>
	  <div class="col-sm-1">22 July</div>
	  <div class="col-sm-1">6</div>
	  <div class="col-sm-1">
	  	<i class="fa fa-bars" aria-hidden="true" class="dropdown-toggle" data-toggle="dropdown"></i>
	  	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	  	
	  </div>
	</div>
	<br>
	
	<div class="row">
	  <div class="col-sm-3">Scaffolding Boiler House</div>
	  <div class="col-sm-1">23 July</div>
	  <div class="col-sm-1">23 July</div>
	  <div class="col-sm-1">7</div>
	  <div class="col-sm-1">
	  	<i class="fa fa-bars" aria-hidden="true" class="dropdown-toggle" data-toggle="dropdown"></i>
	  	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	  	
	  </div>
	</div>
	<br>
	
	<div class="row">
	  <div class="col-sm-3">Scaffolding Boiler House</div>
	  <div class="col-sm-1">24 July</div>
	  <div class="col-sm-1">24 July</div>
	  <div class="col-sm-1">7</div>
	  <div class="col-sm-1">
	  	<i class="fa fa-bars" aria-hidden="true" class="dropdown-toggle" data-toggle="dropdown"></i>
	  	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	  </div>
	</div>
	<br>
	
	<div class="row">
	  <div class="col-sm-3">Scaffolding Boiler House</div>
	  <div class="col-sm-1">25 July</div>
	  <div class="col-sm-1">25 July</div>
	  <div class="col-sm-1">7</div>
	  <div class="col-sm-1">
	 	<i class="fa fa-bars" aria-hidden="true" class="dropdown-toggle" data-toggle="dropdown"></i>
	  	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	  	
	  </div>
	</div>
</div>
	
	
	
	
